.page_main_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.page_main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1400px;
    height: 100%;
}



/* ///// MAIN SECTION CSS ///// */
/* ///// MAIN SECTION CSS ///// */
/* ///// MAIN SECTION CSS ///// */
.main_section_main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 600px;
}

.main_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 550px;

    gap: 20px;
}

.main_text {
    margin: 0;
    font-size: 50px;
    font-weight: 800;
    color: black;
    text-align: center;
}

.secondary_text {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: black;
    max-width: 550px;
    text-align: center;
}

.signup_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    gap: 4px;

    width: 141px;
    height: 40px;

    background: var(--light-green);

    border-radius: 16px;
    border: none;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--primary-color);
    cursor: pointer;
}




/* ///// CARDS SECTION CSS ///// */
/* ///// CARDS SECTION CSS ///// */
/* ///// CARDS SECTION CSS ///// */
.cards_section_main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--light-green);
    padding: 0 80px;
    height: 600px;
}

.single_card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-start; */
    padding: 20px;

    width: 350px;
    height: 390px;

    border-radius: 15px;


    background-color: var(--primary-color);
}

.single_card_text {
    margin: 0;
    font-size: 35px;
    font-weight: 600;
}