.main_tab_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: auto;
    padding: 20px;

    border: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: var(--primary-color);
}


.text_input_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.newTab_text_input {
    width: 100%;
    height: 40px;
    /* margin: 10px 0; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.tab_name_text_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40px;
    padding: 2px 5px;

    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--primary-color);
}
.tab_name_disabled_text_input {
    height: 40px;
    width: 100%;

    border: none;
}